[submodule "network-stats"]
	path = scripts/network-stats
	url = https://github.com/parkeraddison/network-stats
[submodule "selenium-browsing-automation"]
	path = scripts/selenium-browsing-automation
	url = https://github.com/parkeraddison/selenium-browsing-automation.git
