[submodule "network-stats"]
	path = network-stats
	url = https://github.com/parkeraddison/network-stats
[submodule "selenium-browsing-automation"]
	path = selenium-browsing-automation
	url = https://github.com/parkeraddison/selenium-browsing-automation.git
